body{
background-color: #2196F3‬;

}

img{
	margin-left: auto;
	margin-right: auto;
}

div.centerImageGoogle {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
 

}
a.list-group-item.active{
  background:white;
  text-decoration-color:#AAA;
  width:200px;
  border:none;
}
a.list-group-item.hover{
  background:white;
  text-decoration-color:#AAA;
  color:black;
  width:200px;
  border:none;
}

a.list-group-item.focus{
  background:white;
  width:200px;
  text-decoration-color:#AAA;
  border:none;

}
a.list-group-item{
  background:white;
  width:200px;
  text-decoration-color:#AAA;
  border:none;
}

img.center {
  display: block;
    margin: auto;
  position: absolute;
  top: 200; left: 0; bottom: 0; right: 0;

}

div.well{
  background:#272727;
}

button.btn.btn-success{
   background:#009688;
   border-color:#FFFFFF;
}
th{
  color:#AAA;
}
td{
  color:black;
}
img.centerLogo{
	 display: block;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}