body{
background-color:#2196F3‬;
}

img{
	margin-left: auto;
	margin-right: auto;
}

div.centerImageGoogle {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
 

}

a.list-group-item.active{
  background:#4DB6AC;
  text-decoration-color:white;
  width:200px;
  border:none;
}
a.list-group-item.hover{
  background:white;
  text-decoration-color:black;
  color:black;
  width:200px;
  border:none;
}

a.list-group-item.focus{
  background:#009688;
  width:200px;
  text-decoration-color:white;
  border:none;

}
a.list-group-item{
  background:#009688;
  width:200px;
  text-decoration-color:white;
  border:none;

}
img.center {
  display: block;
    margin: auto;
  position: absolute;
  top: 200; left: 0; bottom: 0; right: 0;

}
label{
  color:white;
}
p{
  color:white;
}
h1{
  color:white;
}
div.well{
  background:#4DB6AC;
}

button.btn.btn-success{
   background:#009688;
   border-color:#FFFFFF;
}

img.centerLogo{
	 display: block;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}